body{
	background-color:#CFEEEA;
}
.a1{
	background-color:white;
	color:496F70;
	font-size:30px;
	


font-family: Century Gothic;}


button{
	border-radius:20px;
	background-color:#84CCCE;
	color:white;
	height:30px;
	font-family:Century Gothic;
}
img{
	margin:12px;
	height:200px;
width:170px;
}
.a2{
	color:496F70;
	}
